import /vendor/etc/ueventd.${ro.board.platform}.rc
import /vendor/etc/ueventd.${ro.hardware}.rc

# DMA heaps
/dev/dma_heap/system	0666	system	graphics

# Graphics
/dev/dri/card*		0666	system	graphics
/dev/dri/controlD*	0666	system	graphics
/dev/dri/renderD*	0666	system	graphics

# IIO
/dev/iio:device*	0660	system	system
/sys/bus/iio/devices/iio:device*	*	0660	system	system
/sys/bus/iio/devices/iio:device*	*/*	0660	system	system

# ION
/dev/ion	0664	system	system

# Media
/dev/media*		0660	media	camera
/dev/v4l-subdev*	0660	media	camera
/dev/video*		0660	media	camera

# Serial console
/dev/ttyAMA*	0666	system	system
/dev/ttyMSM*	0666	system	system
/dev/ttyS*	0666	system	system
